/**
 * CSS styling for the Kitchen Run signup formular and the extras
 */


/** General Elements **/
div.kr_container {
    width: 40em;
}

div.kr_container > h2 {
    text-align: center;
}

div.kr_container > div.kr_error_msg {
    max-width: 35em;
    margin: auto;
    padding: 1em 0;
    color: red;
}

/** Progressbar **/
div.kr_container > ul.kr_progressbar {
    counter-reset: step;
    padding: 1em 0 5em 0;
    width: 100%;
    margin: 0;
}

div.kr_container > ul.kr_progressbar li {
    list-style-type: none;
    float: left;
    width: 20%;
    position: relative;
    text-align: center;
    margin: 0;
}

div.kr_container > ul.kr_progressbar li:nth-child(1) {
    z-index: 6;
}

div.kr_container > ul.kr_progressbar li:nth-child(2) {
    z-index: 5;
}

div.kr_container > ul.kr_progressbar li:nth-child(3) {
    z-index: 4;
}

div.kr_container > ul.kr_progressbar li:nth-child(4) {
    z-index: 3;
}

div.kr_container > ul.kr_progressbar li:nth-child(5) {
    z-index: 2;
}

div.kr_container > ul.kr_progressbar li:nth-child(6) {
    z-index: 1;
}

div.kr_container > ul.kr_progressbar li:after {
    content: counter(step);
    counter-increment: step;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 2px solid #999;
    border-radius: 50%;
    display: block;
    text-align: center;
    margin: 5px auto 0 auto;
    background-color: white;
    box-sizing: content-box;
}

div.kr_container > ul.kr_progressbar li:before {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #999;
    position: absolute;
    bottom: 15px;
    left: -50%;
    z-index: -1;
}

div.kr_container > ul.kr_progressbar li:first-child:before {
    content: none;
}

div.kr_container > ul.kr_progressbar li.kr_active {
    color: #32bea6ff;
}

div.kr_container > ul.kr_progressbar li.kr_active:after {
    border-color: #32bea6ff;
    background-color: #32bea6ff;
    color: white;
}

div.kr_container > ul.kr_progressbar li.kr_active + li:before {
    background-color: #32bea6ff;
}


/** General Form **/
form#kr_signup.kr_signup {
    padding: 1em 0;
    margin: auto;
    max-width: 35em;
    width: 100%;
}

form#kr_signup.kr_signup label.error {
    color: red;
    font-size: 0.7em;
}


/** Fieldsets (Steps) **/
form#kr_signup > fieldset.kr_tab {
    border: none;
    display: none;
}

form#kr_signup > fieldset.kr_tab:first-child {
    display: block;
}

form#kr_signup > fieldset.kr_tab input[type="button"],
form#kr_signup > fieldset.kr_tab input[type="button"]:hover {
    width: 45%;
    padding: 10px 5px;
    margin: 5px 5px;
    border: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background-color: #32bea6ff;
    color: white;
    cursor: pointer;
    text-decoration: none;
    box-shadow: none;
}

form#kr_signup > fieldset.kr_tab input[type="submit"] {
    width: 45%;
    padding: 10px 5px;
    margin: 5px 5px;
    border: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background-color: #d77f7f;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

form#kr_signup > fieldset.kr_tab input.kr_btn_next[type="button"] {
    float: right;
}


/** Text Input Fields **/
form#kr_signup > fieldset.kr_tab > div.kr_txtb {
    width: 100%;
    position: relative;
    margin-bottom: 2em;
    margin-top: 2em;
    z-index: 1;
}

form#kr_signup > fieldset.kr_tab > div.kr_txtb input {
    width: 100%;
    padding: 2px 0 2px 5px;
    box-sizing: border-box;
    box-shadow: none;
    display: inline-block;
    margin: 0;
    border: 0;
    border-bottom: 2px solid #999;
    outline: none;
    background: transparent;
    height: 2em;
    font-size: 1em;
}

form#kr_signup > fieldset.kr_tab > div.kr_txtb input.error {
    border-bottom: 2px solid red;
}

form#kr_signup > fieldset.kr_tab > div.kr_txtb textarea {
    width: 100%;
    height: 4em;
    padding: 2px 0 2px 5px;
    margin: 0;
    border: 0;
    border-bottom: 2px solid #999;
    outline: none;
    box-sizing: border-box;
    background: transparent;
}

form#kr_signup > fieldset.kr_tab > div.kr_txtb label.error {
    position: absolute;
    left: 5px;
    bottom: -16px;
}

form#kr_signup > fieldset.kr_tab > div.kr_txtb .focus + span::before,
form#kr_signup > fieldset.kr_tab > div.kr_txtb .focus + label + span::before {
    top: -5px;
    font-size: 0.7em;
}

form#kr_signup > fieldset.kr_tab > div.kr_txtb .focus + span::after,
form#kr_signup > fieldset.kr_tab > div.kr_txtb .focus + label + span::after {
    width: 100%;
}


form#kr_signup > fieldset.kr_tab > div.kr_txtb span::before {
    content: attr(data-placeholder);
    position: absolute;
    top: 50%;
    left: 5px;
    color: grey;
    transform: translateY(-50%);
    z-index: -1;
    transition: .5s;
}

form#kr_signup > fieldset.kr_tab > div.kr_txtb span::after {
    content: '';
    width: 0%;
    position: absolute;
    height: 2px;
    background-color: #32bea6ff;
    bottom: 0;
    left: 0;
    transition: .5s;
}

form#kr_signup > fieldset.kr_tab > div.kr_txtb input.error + label + span::after {
    background-color: red;
}

form#kr_signup > fieldset.kr_tab > div.kr_txtb > textarea + span::before {
    top: 23px;
}





/** Selection Boxes **/
form#kr_signup > fieldset.kr_tab > div.kr_chbox {
    margin: 1em 0;
    position: relative;
}

form#kr_signup > fieldset.kr_tab > div.kr_chbox input[type="checkbox"] {
    display: none;
}

form#kr_signup > fieldset.kr_tab > div.kr_chbox label {
    border: 2px solid #999;
    border-radius: 4px;
    color: black;
    font-size: 1em;
    display: block !important;
    width: 100%;
    padding: 0.8em 1em 0.8em 4em;
    margin: 0 !important;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
}

form#kr_signup > fieldset.kr_tab > div.kr_chbox label::before {
    content: "";
    background: url("../../../assets/images/check.svg");
    background-position: center ;
    background-size: contain;
    width: 1.6em;
    height: 1.6em;
    position: absolute;
    left: 1.2em;
    top: 0.7em;

    transform: scale(0) rotateZ(180deg);
    transition: all 0.4s cubic-bezier(0.54, 0.01, 0, 1.49);
}

form#kr_signup > fieldset.kr_tab > div.kr_chbox > input[type="checkbox"]:checked + label {
    border: 2px solid #32bea6ff;
}

form#kr_signup > fieldset.kr_tab > div.kr_chbox > input[type="checkbox"]:checked + label::before {
    transform: scale(1) rotate(0deg);
}




/** Normal Checkboxes **/
form#kr_signup > fieldset.kr_tab > div.kr_check {
    margin: 1em 0;
}

form#kr_signup > fieldset.kr_tab > div.kr_check input[type="checkbox"] {
    display: none;
}

form#kr_signup > fieldset.kr_tab > div.kr_check label.kr_label {
    display: block;
    width: 100%;
    padding: 0.9em 1em 0.9em 2.5em;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
}

form#kr_signup > fieldset.kr_tab > div.kr_check label.kr_label::before {
    content: "";
    background: url("../../../assets/images/check.svg");
    background-position: center ;
    background-size: contain;
    width: 1.4em;
    height: 1.4em;
    position: absolute;
    left: 0.5em;
    top: 0.9em;

    transform: scale(0) rotateZ(180deg);
    transition: all 0.4s cubic-bezier(0.54, 0.01, 0, 1.49);
}

form#kr_signup > fieldset.kr_tab > div.kr_check > input[type="checkbox"]:checked + label::before {
    transform: scale(1) rotate(0deg);
}

form#kr_signup > fieldset.kr_tab > div.kr_check label.kr_label::after {
    content: "";
    width: 1.4em;
    height: 1.4em;
    border: 2px solid #32bea6ff;
    border-radius: 50%;
    position: absolute;
    left: 0.5em;
    top: 0.9em;
}


/** Description of Steps **/
form#kr_signup > fieldset.kr_tab > h4.kr_step_description {
    font-size: 0.8em;
}

form#kr_signup > fieldset.kr_tab > p.kr_step_subtitle {
    margin-top: 0;
}

/** Signup Success **/
div.kr_container > div.kr_signup_success {
    margin: 1em 2em 0 2em;
}

div.kr_container > div.kr_signup_success img {
    width: 10em;
    height: auto;
    margin: auto;
    padding-right: 1em;
    display: block;
}

div.kr_container > div.kr_signup_success p, .kr_signup_error p {
    text-align: center;
}